<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- tailwind cdn -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="flex flex-col items-center justify-center min-h-screen">
        <img 
            src="https://cdnl.iconscout.com/lottie/premium/thumb/404-error-page-3959260-3299959.gif" 
            alt="no image" 
            class="rounded-[25px]"
        >
        <h2 class="text-red-600 font-bold mt-3 text-2xl">YOU LOST THE WAY....</h2>
        <h2 class="font-bold mt-2 mb-5 text-xl" style="color: rgb(19, 175, 192);">Page Is Not Found!</h2>
        <a 
            href="/" 
            class="text-blue-500 hover:text-blue-700 underline font-medium text-lg"
        >
            Click here to go back to Home
        </a>
    </div>
    
</body>
</html>