<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 Not Found</title>
    <link href="/css/tailwind.css" rel="stylesheet" />
  </head>
  <body class="">
    <div
      class="flex flex-col items-center justify-center min-h-screen gap-10 p-10"
    >
      <img
        src="https://cdnl.iconscout.com/lottie/premium/thumb/404-error-page-3959260-3299959.gif"
        alt="no image"
        class="rounded-[25px] w-72 md:w-1/4"
      />

      <div
        class="flex flex-col gap-7 justify-center items-center text-light_grey"
      >
        <h2 class="font-semibold mt-3 text-2xl">YOU LOST THE WAY....</h2>
        <p class="text-xl">
          Oops! We couldn't find that page. Please try going back to the
          homepage.
        </p>
        <a
          href="/projects"
          class="text-light_grey bg-primary hover:bg-primary_hover text-lg px-6 py-1 rounded-md"
        >
          Back to home
        </a>
      </div>
    </div>
  </body>
</html>
