<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head', { title: 'Add Project' }) %>
  </head>

  <body class="">
    <%- include('partials/loading-indicator') %>

    <div class="main-content">
      <div
        class="flex flex-col items-center justify-center space-y-6 mt-20 relative"
      >
        <!-- Form Section -->
        <div
          class="w-11/12 md:w-[500px] bg-medium_grey text-secondary p-6 shadow-lg rounded-lg"
        >
          <h2 class="text-2xl font-bold text-center mb-6">Add New Project</h2>

          <!-- Form -->
          <form
            action="/project/add"
            method="POST"
            class="space-y-5 add-project-form"
          >
            <div class="relative">
              <label for="name" class="block font-semibold mb-2"
                >Project Name</label
              >
              <input
                type="text"
                id="name"
                name="name"
                required
                class="w-full px-4 py-2 border border-dark_grey rounded-md focus:ring-2 focus:outline-none focus:ring-primary"
              />
            </div>

            <div class="relative">
              <label for="description" class="block font-semibold mb-2"
                >Project Description</label
              >
              <textarea
                id="description"
                name="description"
                required
                class="w-full px-4 py-3 border border-dark_grey rounded-md focus:ring-2 focus:outline-none h-32 focus:ring-primary"
              ></textarea>
            </div>

            <div class="relative">
              <label for="technology" class="block font-semibold mb-2"
                >Technology</label
              >
              <input
                type="text"
                id="technology"
                name="technology"
                required
                class="w-full px-4 py-3 border border-dark_grey rounded-md focus:ring-2 focus:outline-none focus:ring-primary"
              />
            </div>

            <div class="relative">
              <label for="status" class="block font-semibold mb-2"
                >Status</label
              >
              <select
                id="status"
                name="status"
                required
                class="w-full px-4 py-3 border border-dark_grey rounded-md shadow-sm focus:ring-2 focus:outline-none focus:ring-primary"
              >
                <% status.forEach(function(item) { %>
                <option value="<%= item.dataValues.status_id %>" class="">
                  <%= item.dataValues.status_name %>
                </option>
                <% }); %>
              </select>
            </div>

            <div class="flex justify-center">
              <button
                type="submit"
                class="bg-primary hover:bg-primary_hover text-light_grey px-4 py-2 rounded-md w-1/2"
              >
                <span>Create Project</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="/js/loading-indicator.js"></script>
  </body>
</html>
