<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head', { title: "Profile" }) %>
  </head>
  <body>
    <div class="main-content">
      <main class="flex items-center flex-col justify-center p-6 gap-10">
        <!-- back to projects link -->
        <div class="">
          <a
            href="/projects"
            id="back-to-projects"
            class="text-light_grey z-0 hover:text-primary"
          >
            <i class="fa-solid fa-arrow-left"></i>&nbsp;&nbsp;<span
              >Back to Projects</span
            >
          </a>
        </div>

        <div
          class="relative shadow-lg rounded-lg p-6 md:p-10 w-full max-w-md flex flex-col items-center gap-20 bg-light_grey h-[800px]"
        >
          <!--  -->
          <div class="flex flex-col items-center justify-center">
            <!-- Profile Image -->
            <div class="w-24 md:w-28 lg:w-36">
              <img
                src="/images/profile.svg"
                alt="Profile Logo"
                class="rounded-full shadow-md"
              />
            </div>

            <!-- User Details -->
            <div class="w-full text-center">
              <div class="mt-4">
                <p class="text-secondary text-sm md:text-base">Username</p>
                <p
                  id="username"
                  class="font-semibold text-darker_grey text-lg md:text-xl capitalize"
                >
                  Loading...
                </p>
              </div>
              <div class="mt-4">
                <p class="text-secondary text-sm md:text-base">Email</p>
                <p
                  id="email"
                  class="font-semibold text-darker_grey text-lg md:text-xl"
                >
                  Loading...
                </p>
              </div>
            </div>
          </div>

          <!-- Reset Password -->
          <div class="w-full">
            <h1 class="text-2xl font-semibold text-secondary text-center mb-4">
              Reset Password
            </h1>

            <!-- Change Password Form -->
            <form
              onsubmit="handleChangePassword(event)"
              class="w-full text-secondary"
            >
              <!-- Previous Password -->
              <div class="mb-4">
                <label for="old-password-input" class="block font-medium mb-1"
                  >Previous Password</label
                >
                <input
                  id="old-password-input"
                  type="password"
                  placeholder="Enter your previous password"
                  class="w-full border border-dark_grey rounded-md px-4 py-2 focus:outline-none focus:ring focus:ring-primary"
                />
              </div>

              <!-- New Password -->
              <div class="mb-4">
                <label for="new-password-input" class="block font-medium mb-1"
                  >Enter New Password</label
                >
                <input
                  id="new-password-input"
                  type="password"
                  placeholder="Enter your new password"
                  class="w-full border border-dark_grey rounded-md px-4 py-2 focus:outline-none focus:ring focus:ring-primary"
                />
              </div>

              <!-- Confirm New Password -->
              <div class="mb-4">
                <label
                  for="confirm-new-password-input"
                  class="block font-medium mb-1"
                  >Confirm New Password</label
                >
                <input
                  id="confirm-new-password-input"
                  type="password"
                  placeholder="Confirm your new password"
                  class="w-full border border-dark_grey rounded-md px-4 py-2 focus:outline-none focus:ring focus:ring-primary"
                />
              </div>

              <!-- Submit Button -->
              <button
                type="submit"
                class="w-full bg-primary text-light_grey hover:bg-primary_hover text-lig font-medium py-2 px-5 rounded-md mt-4"
              >
                Change Password
              </button>
            </form>
          </div>
        </div>
      </main>
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bcryptjs/2.2.0/bcrypt.min.js"
      integrity="sha512-BJZhA/ftU3DVJvbBMWZwp7hXc49RJHq0xH81tTgLlG16/OkDq7VbNX6nUnx+QY4bBZkXtJoG0b0qihuia64X0w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <script>
      let oldPasswordHash = null;
      let userId = null;
      async function fetchUserData() {
        try {
          const response = await fetch("/api/profile");

          if (response.ok) {
            const data = await response.json();
            document.getElementById("email").textContent = data.email;
            document.getElementById("username").textContent = data.username;
            userId = data.userId;
            oldPasswordHash = data.password;
          } else {
            const errorData = await response.json();
            console.error("Error fetching user data:", errorData.error);
          }
        } catch (error) {
          console.error("Error fetching profile data:", error);
        }
      }

      window.onload = fetchUserData;
    </script>

    <script>
      const oldPasswordInput = document.getElementById("old-password-input");
      const newPasswordInput = document.getElementById("new-password-input");
      const confirmNewPasswordInput = document.getElementById(
        "confirm-new-password-input"
      );

      async function updatePassword() {
        try {
          const response = await fetch(`/api/change-password`, {
            method: "PUT",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              oldPassword: oldPasswordInput.value,
              oldPasswordHash: oldPasswordHash,
              newPassword: newPasswordInput.value,
              userId: userId,
            }),
          });

          const data = await response.json();
          // If the password is successfully updated
          if (response.ok) {
            toastr.success(data.message);
          }
          //If the old password incorrect
          else if (response.status === 400) {
            toastr.error(data.error || "Old password is incorrect.");
          }
          // If the user not found
          else if (response.status === 404) {
            toastr.warning(data.error);
          }
          // Other errors
          else {
            toastr.error(data.error || "An unexpected error occurred");
          }
        } catch (error) {
          console.error("Error while updating password:", error);
          toastr.error("Something went wrong. Please try again later.");
        }
      }

      function handleChangePassword(e) {
        e.preventDefault();

        // check if the old password input is empty
        if (!oldPasswordInput.value) {
          toastr.error("please enter your old password to confirm");
          return;
        }

        //check if new password and confirm new password does not match
        if (newPasswordInput.value !== confirmNewPasswordInput.value) {
          toastr.error("New Passwords does not match! Please try again");
          return;
        }

        //only update the passowrd if its at least 8 characters long
        if (newPasswordInput.value.length < 8) {
          toastr.error("New Password must be atleast 8 characters");
          return;
        }

        //update password
        updatePassword();
      }
    </script>
  </body>
</html>
