@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
  min-height: 100vh;
  overflow-y: auto;
  background-color: #09071f; /* Remove quotes */
  background-image: url("/images/09.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.main-content {
  z-index: 1;
  height: 100%;
  min-height: 100%;
}

button[disabled="disabled"],
button:disabled {
  background-color: gray !important;
  cursor: not-allowed;
}
